<div class="main-container">
  <mat-toolbar color="primary">
    <span>British Bingo!</span>
  </mat-toolbar>
  <br>
  <div class="numbers-container" *ngIf="bingoNumbers.length > 0">
    <mat-grid-list role="list" cols="9" rowHeight="fit" [style.height.px]="myInnerHeight">
      <mat-grid-tile role="listitem" *ngFor="let number of bingoNumbers"
        [ngClass]="number.drawn ? 'number-drawn' : 'number-undrawn'">{{ number.value }}
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <br>
  <div>
    <button mat-raised-button color="primary" (click)="nextNumber()">Next Number</button>
    <h1>{{generatedNumber}}</h1>
    <h1>{{generatedNumberText}}</h1>
  </div>

</div>

<router-outlet></router-outlet>
